<div class="container">
  <h2 class="text-center">Projects</h2>
  <p>
    On this page you can read about projects I have done during my higher education.
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs responsive">
        <li><a href="#bachelor" data-toggle="tab" class="active">  Bachelor of Science  </a> </li>
        <li><a href="#honours" data-toggle="tab">  Honorary program  </a> </li>
        <li><a href="#professional" data-toggle="tab"> Professional Education </a> </li>
      </ul>
      <div class="tab-content responsive">
        <div class="tab-pane fade in active show" id="bachelor">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <ng-container *ngFor="let project of projectsDict['bach']">
                <app-project-item [project]="project"></app-project-item>
              </ng-container>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
        <div class="tab-pane fade in" id="honours">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <ng-container *ngFor="let project of projectsDict['hon']">
                <app-project-item [project]="project"></app-project-item>
              </ng-container>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="professional">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <ng-container *ngFor="let project of projectsDict['prof']">
                <app-project-item [project]="project"></app-project-item>
              </ng-container>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
