@charset "UTF-8";
@import url("font-awesome/ubuntu.css");
@import url("font-awesome/open-sans.css");

body {
  background-image: url("../assets/images/dna-storage-big.png");
  background-color: #000;
  margin: auto;
  background-repeat: repeat-y;
  overflow-y: visible;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-size: 8%;
  font-size: 14pt;
}

.hidden {
  display: none;
}

a {
  color: white;
  text-decoration: underline;
}

.red {
  color: red;
}

/*tables*/
.text-black {
  color: black;
}
table {
  text-align: left;
}

/*skills backgrounds*/
.bg-advanced {
  background-color: red;
}

.bg-middle2 {
  background-color: orange;
}

.bg-intermediate {
  background-color: yellow;
}

.bg-middle1 {
  background-color: #9bfc00;
}

.bg-beginner {
  background-color: lawngreen;
}

/*timelines*/
.timeline {
  table-layout: fixed;
}

/*backgrounds*/
.bg-danger {
  background-image: url("../assets/images/bg-danger.png");
}

.bg-warning {
  background-image: url("../assets/images/bg-warning.png");
}

.bg-info {
  background-image: url("../assets/images/bg-info.png");
}

.bg-primary {
  background-image: url("../assets/images/bg-primary.png");
}

.bg-success {
  background-image: url("../assets/images/bg-success.png");
}

#schooling {
  width: calc(8*200px + 25px);
}

#jobs {
  width: calc(15*120px + 55px);
}

.timeline td,
.timeline th {
  overflow-x: auto;
  background-repeat: repeat-x;
}

/*panels*/
.panel {
  background-color: #000;
}

.tab-content {
  padding-top: 20px;
}

/*navs*/
.nav-tabs > li > a.active,
.nav > li > a:hover {
  background-color: #000;
  color: #f9f9f9;
  border: 1px #fff solid;
}

/*smartphones*/
@media (max-width: 600px) {
  /*background*/
  body {
    background-image: none;
  }

  /*container*/
  .container {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
